body {
  background-color: #f5e4e4;
}
.wrapper {
  margin: 10px;
  /* background-color: rgba(58, 29, 223, 0.521); */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px; /* Set a fixed height for uniformity */
  width: 200px; /* Set a fixed width for uniformity */
}

.wrapper .image img {
  max-height: 150px; /* Adjust as needed */
  max-width: 150px; /* Adjust as needed */
}

.wrapper .title {
  margin-top: 10px;
  text-align: center;
}

.wrapper .description {
  margin-top: 10px;
  text-align: center;
  width: 150px;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper .buttons {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-end;
}

.wrapper .buttons button {
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px;
}

.danger {
  background-color: rgb(253, 56, 56);
}
.primary {
  background-color: #0d6dfdd3;
  width: 60px;
}
button {
  padding: 5px 10px;
  white-space: nowrap;
}

.wrapper a {
  text-decoration: none;
}
.container {
  display: flex;
}
