.wrapper {
  margin: 10px;
  background-color: dodgerblue;
  padding: 10px;
  display: flex;
  gap: 10px;
}
div p {
  text-transform: uppercase;
}
button {
  padding: 5px;
}
.wrapper a {
  text-decoration: none;
}
