nav {
  height: 60px;
  width: auto;
  background-color: #094974;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: sticky;
}

nav a {
  color: white;
  text-decoration: none;
}

nav div {
  text-align: center;
  height: 40px;
  width: 140px;
  line-height: 40px;
  padding: 10px;
}

nav a:not(:first-child):hover {
  background-color: dodgerblue;
}

.count {
  vertical-align: middle; /* adjust the margin-top */
}
