nav {
  height: 50px;
  width: auto;
  background-color: black;
  padding: 10px;
  display:flex;
  gap:20px;
}
input[type="search"] {
  float: right;
  /* margin:0; */
}
nav a{
  color: white;
  text-decoration: none;
}
