body{
  background-image: url('../assets/purplebg.jpg');
  background-size: cover;
  height:100vh;
  font-size: large;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto; /* Changed height to auto */
  width: 300px; /* Adjusted width */
  padding: 25px; /* Reduced padding */
  background-color: #fff;
  border-radius: 12px; /* Reduced border-radius for a more subtle effect */
  text-align: center;
}
input {
  margin: 5px; /* Reduced margin */
  width: 250px; /* Adjusted width */
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 20px;
  font-size: 16px;
}
button {
  width: 100%; /* Adjusted width */
  margin: 10px 0; /* Reduced margin */
  padding: 10px;
  background-color: blueviolet;
  border-radius: 12px;
  border: none;
  color: white;
}
label, select {
  margin: 5px; /* Reduced margin */
}
h1 {
  font-size: 30px; /* Adjusted font size */
  margin: 10px 0; /* Reduced margin */
}
.register-link {
  margin-top: 20px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}