body{
  background-color: #7567ad;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 420px;
  width: 250px;
  padding: 45px;
  background-color:#14ff149d;
  border-radius: 12%;
}
input {
  margin: 10px;
  width: 215px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 12px;
  background-color: beige;
  height:20px;
}
input:active,
input:focus {
  border-bottom: 2px solid black;
}
label{
  margin:10px;
}
select{
  border:none;
  padding:5px;
}
h1{
  /* margin:5px; */
  font-size: 40px;  
}
button{
  width: 230px;
  margin-left:10px;
  margin-bottom:10px;
  
  padding:10px;
  background-color:#365addf6;
  border-radius: 12px;
  border:none;
  color:whitesmoke;
}
a{
  text-decoration: none;
  font-weight: bold;
  color:#fff;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  text-align: center;
}